body{
	background: url(Maths_Wallpaper.jpg);
	background-size: cover;
	background-position: center;
	}

#content{
	text-align: center;
	padding-top: 25%;
	
}

#textContent{
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,1),
				0px 18px 23px rgba(0,0,0,1);
}

h1,h3{
	font-size: 3.5em;
	color:white;
}
span{
	height: 100%;
}

a:hover{
	color: blue;
}
