

h1{
	text-align: center;
}

img{
	width: 100%;
	height: 250px;
}

.content: {
	padding-bottom: 100px;
}

.footer{
	height: 20px;
}

html{
	height: 100%;
}

#imgBackground{
	background: url(Maths_Wallpaper.jpg);
	background-size: cover;
	background-position: center;
	height: 1000px;

	padding-bottom: 70px; 
	}

body{
	padding-top: 70px; 

}

#lessonList{
	background-color: #464646;
	padding-top: 20px;
}

.lesson{
	background: white;
	margin-bottom: 20px;
	background: #f8f8f8;
	padding-top: 10px;
}

.lessonDescription{
border-right: 0.1px solid rgba(0,0,0,0.2);
}
.lessonDetails{
	/*padding-top: 50px;*/
	padding-left: 0px;
}
.lessonDetails ul li{
	list-style: none;
}

.lessonDetails ul{
	padding-left: 10px;
}

hr{
	
	width: 97%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);

}

h3{
	text-indent: 0px;
	font-size: 2em;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.wrapper{
	
}
.wrapper h1{
	color: black;
	text-transform: capitalize;
}

