.navbar-inverse .navbar-nav > li{
	 font-size: 20px;
	/*padding-right: 15px;
	padding-left: 15px;*/
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand{
color: white;
font-size: 20px;
}
span{
	font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #464646;
}
